* {

    padding: 0px;
    margin: 0px;
}

@import "botonwsp";
@import "navbar";
@import "header";
@import "footer";
@import "conocenos";
@import "contacto";
@import "tienda";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

/*-------VISTA DESDE CELULAR---------*/

@media only screen and (max-width:599px) {

    .gridPrincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "imagenUno"
        "imagenDos"
        "imagenTres"
        "imagenCuatro"
        "imagenCinco"
        "imagenSeis"; /*UNO DEBAJO DEL OTRO*/
}

.imagenUno {
    grid-area: imagenUno;
}

.imagenDos {
    grid-area: imagenDos;
}

.imagenTres {
    grid-area: imagenTres;
}

.imagenCuatro {
    grid-area: imagenCuatro;
}

.imagenCinco {
    grid-area: imagenCinco;
}

.imagenSeis {
    grid-area: imagenSeis;
}


/*-------VISTA EN TABLET-------*/
@media only screen and (min-width:600px) and (max-width:1023px) {

    .gridPrincipal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "imagenUno imagenDos"
            "imagenTres imagenCuatro"
            "imagenCinco imagenSeis"; /*DOS POR FILA*/
    }}}