@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

/* BOTON DE WHATSAPP */
.botonWsp img {
  width: 70px;
  position: fixed;
  /*--POSICION FIJA EN DESPLAZAMIENTO----*/
  bottom: 10px;
  right: 10px;
}

/*-----------NAVBAR--------------*/
.header__nav {
  margin-right: 23px;
}

.header__nav ul li {
  display: inline-block;
  margin-left: 23px;
}

.header__nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  /*---MAYUSCULAS----*/
  font-weight: bold;
  /*---NEGRITA----*/
  color: #3d3931;
}

.logo {
  margin-left: 20px;
  font-size: 5px;
  width: 60px;
  height: 60px;
}

a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.imagenEncabezado {
  width: 100%;
  /*--FULL RESPONSIVE | QUE OCUPE EL 100% DE LA PANTALLA--*/
}

/*------------HEADER------------*/
header {
  background-color: aliceblue;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

/* SECCION FOOTER */
footer {
  background-color: #dbdfc9;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*---SEPARACION ENTRE AMBOS ELEMENTOSS---*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  margin-top: 11.5px;
  margin-left: 11.5px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

footer h4 {
  color: #444b44;
}

/*------CONOCENOS--------*/
.contenedor {
  text-align: center;
  margin: 50px;
  padding: 30px;
  border: solid 1.5px #8c998c;
  /*--RECUADRO--*/
  border-radius: 25px;
  /*--REDONDEO DEL RECUADRO--*/
}

.contenedor h2 {
  margin-top: 15px;
  /*--MARGEN SUPERIOR DEL H2--*/
  margin-bottom: 15px;
  /*--MARGEN INFERIOR DEL H2--*/
}

.contenedor p {
  font-size: 23px;
  margin: 23px;
}

a:hover
a:focus {
  background-size: 100% 2px;
}

/*---------SECCION CONTACTO----------*/
.area {
  display: block;
  width: 50%;
  /*------FULL RESPONSIVE | QUE OCUPE EL 50%-------*/
  padding: 10px;
  margin: 23px auto;
}

.boton {
  color: black;
  background-color: #e3fce3;
  padding: 10px;
  text-transform: uppercase;
  /*--MAYUSCULAS--*/
  font-weight: bold;
  /*--NEGRITAS--*/
  border: none;
  /*--QUITAR SOMBREADO----*/
  border-radius: 2.3px;
  cursor: pointer;
}

/*------SECCION TIENDA | APLICAMOS GRIDS----------*/
.imagenGaleria {
  width: 100%;
  height: 100%;
  /*TAMAÑO*/
}

.imagenGaleria:hover {
  -webkit-filter: contrast(90%);
          filter: contrast(90%);
  /*SE PONE GRIS*/
  z-index: 6;
}

.gridPrincipal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "imagenUno imagenDos imagenTres"
 "imagenCuatro imagenCinco imagenSeis";
}

body {
  font-family: "Roboto", sans-serif;
}

/*-------VISTA DESDE CELULAR---------*/
@media only screen and (max-width: 597px) {
  .gridPrincipal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "imagenUno"
 "imagenDos"
 "imagenTres"
 "imagenCuatro"
 "imagenCinco"
 "imagenSeis";
    /*UNO DEBAJO DEL OTRO*/
  }
  .imagenUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imagenUno;
  }
  .imagenDos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imagenDos;
  }
  .imagenTres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imagenTres;
  }
  .imagenCuatro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: imagenCuatro;
  }
  .imagenCinco {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: imagenCinco;
  }
  .imagenSeis {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: imagenSeis;
  }
  /*-------VISTA EN TABLET-------*/
}

@media only screen and (max-width: 597px) and (min-width: 600px) and (max-width: 1023px) {
  .gridPrincipal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "imagenUno imagenDos"
 "imagenTres imagenCuatro"
 "imagenCinco imagenSeis";
    /*DOS POR FILA*/
  }
}
/*# sourceMappingURL=estilos.css.map */